body {
  font-size: 1rem;
  font-family: Comfortaa;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  zoom: 1;
}

header p strong {
  text-transform: uppercase;
}

.post-title {
  background: linear-gradient(#59ABA4, #9989C8);
  margin: 10rem 0;
  color: white;
  padding: 2rem;
  font-weight: bold;
}

a,a:visited {
  color: #59ABA4;;
  font-weight: bold;

  &:hover {
    color: dodgerblue;
  }
}

a.active {
    background: #59ABA4;;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid black;
  font-size: 120%;
  margin: 2rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }

  footer {
    font-size: 90%;
    margin: 1rem 0 0 0;
  }
}

dl {
  dt {
    margin-bottom: 0.5rem;
  }
  dd {
    font-style: italic;
    margin-bottom: 2rem;
  }
}

code, pre {
	font-size: 92%;
}

pre {
  background: black;
  color: white;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

.date {
  opacity: 0.6;
}